.flashcard-container {
  margin-top: 50px;
}

.card-container {
  height: 225px;
  margin-right: 2px;
  margin-left: 2px;
  width: 225px;
}

.card-container:hover {
  cursor: pointer;
}

.card {
  display: inline-block;
  height: 225px;
  margin: 0;
  transform-style: preserve-3d;
  transition: transform 1s;
  width: 225px;
}

.card.flipped {
  transform: rotateY( 180deg );
}

.card .card-side {
  backface-visibility: hidden;
  display: block;
  position: absolute;
}

.front-side {
  background-color: white;
  border-top: 3px solid rgb(128, 128, 128);
  border-right: 1px solid rgb(169, 169, 169, 0.3);
  border-bottom: 1px solid rgb(169, 169, 169, 0.3);
  border-left: 1px solid rgb(169, 169, 169, 0.3);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  height: 90%;
  margin: 5%;
  width: 90%;
}

.back-side {
  background-color: #F4F4F4;
  background-size: contain;
  border-top: 3px solid rgb(128, 128, 128);
  border-right: 1px solid rgb(169, 169, 169, 0.3);
  border-bottom: 1px solid rgb(169, 169, 169, 0.3);
  border-left: 1px solid rgb(169, 169, 169, 0.3);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  height: 100%;
  transform: rotateY( 180deg );
  width: 100%;
}

.front-side .card-image {
  height: 90%;
  resize: contain;
  width: 90%;
}

.back-side .card-image {
  background-size: contain;
  height: 100%;
  width: 100%;
}

.card .card-words {
  font-size: 24px;
  height: 100%;
  margin: 40% auto auto auto;
  vertical-align: middle;
}

.back-side .card-content {
  height: 175px;
  line-height: 1.5;
  margin: 25px;
  overflow-y: scroll;
  text-align: left;
}

.front-side .card-content {
  font-size: 24px;
  height: 100%;
  margin: 40% auto auto auto;
  vertical-align: middle;
}

.click-to-flip {
  bottom: 10px;
  font-size: 12px;
  font-style: italic;
  position: absolute;
  right: 10px;
}
